.login-page {
    background: url(//iftik.unimus.ac.id/pluginfile.php/1/theme_lambda/pagebackground/1715458818/unimus.jpg) no-repeat fixed 0 0;
    background-size: cover;
    background-color: #f5f5f5;
}